body {
  background-color: #351431;
  font-family: 'Montserrat', sans-serif;
  color: #8D99AE;
  font-size: 16px;
  line-height: normal;
}

h1, h2, h3 {
  color: #124E78;
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
  line-height: 30px;
}

h1 {
  color: #A63A50;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
}

a {
  color: #8D99AE;
  text-decoration: none;
}

a:hover {
  color: #00B9AE;
  text-decoration: underline;
}

#sidebar {
  position: fixed;
  width: 10px;
  left: 0;
  top: 0;
  bottom: 0;
  background: #351431;
}

#sidebar li {
  margin-top: 20px;
  margin-bottom: 20px;
}

#sidebar a:hover {
  color: white;
}

.container {
  width: 930px;
  margin: 0 auto;
}

.card-whitexx {
  background: white;
  padding: 15px 24px 20px 24px;
  margin: 13px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

#profile {
  width: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 30px;
}

.list-inline {
  padding-left: 0px;
}

.text-large {
  font-size: 25px;
}

.card-padding {
  padding: 10px 24px 10px 24px;
}

.text-larger{
  font-size: 17px;
}

.img-size {
  width: 300px;
}

.img-rounded {
  border-radius: 4px;
}

.img-padding {
  padding: 5px 10px 5px 0px;
}

.text-justify {
  text-align: justify;
}

.text-smaller {
  font-size: 15px;
}

.link-hover {
  a:hover {
  color: white;
  text-decoration: underline;
}
}

#footer {
  padding: 5px;
}

/* #351431 dark purple
/* #E1DDDA greyish

/* 1440 => 10 + (200) + 930 + (200) = 1440
